{% extends 'blog/basic.html' %}
{%block title%}blogPost{%endblock%}
{% block css%}
      html,
      body {
        background:cyan;
        height: 100%; 
      }
.container::before{
    background-size:cover;
    background-color:#00F0F0;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: cover;
    z-index: -1;
    opacity:0.6;
  }
 {% endblock %}
{% block body %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 blog-main" style="float:left">
            <h1 class="pb-4 mb-4 font-italic border-bottom" id="{{post_post_id}}">
                {{post.title}}
            </h1>

            <div class="blog-post">
                <p><img src="/media/{{post.thumbnail}}" class="col-sm-12" style="height:250px;with:400px"/></p>
                <p class="blog-post-meta">published date:{{post.pub_date}}</p>
                <div class="fb-like" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div><br>


                <h2 class="blog-post-title">{{post.head0}}</h2>
                <p>{{post.chead0}}</p>
                <h2>{{post.head1}}</h2>
                <p>{{post.chead1}}</p>
                <h2>{{post.head2}}</h2>
                <p>{{post.chead2}}</p>

            {%if post.post_id != first.post_id and post.post_id != last.post_id %}
                <a href="{{prev}}"><button class="btn btn-primary cart mt-3">previous</button></a>
                <a href="{{next}}"><button class="btn btn-primary cart mt-3">next</button></a>
            {%endif%}
            {%if post.post_id == first.post_id %}
                 <a href="{{next}}"><button class="btn btn-primary cart mt-3">next</button></a>
            {%endif%}
            {%if post.post_id == last.post_id %}
                 <a href="{{prev}}"><button class="btn btn-primary cart mt-3">previous</button></a>
            {%endif%}

            </div>
            <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/blogPost/{{post.post_id}}" data-numposts="10" data-width="">

            </div>
        </div>

        <aside class="col-md-4 blog-sidebar" style="float:left">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">My Awesome Cart <em>started out as a small project and is now</em> the fastest growing e-commerce stores of all times in india and abroad.</p>
                <div class="my-3 fb-share-button" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fblog%2Fblogpost%2F4&src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            </div>



            <div class="p-4">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->


</div>
{% endblock %}
